.featured_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    gap: 12px;
    background: #F2FDF5;
    color: #031c09;
}

.header_features {
    font-size: 3rem;
    justify-self: flex-start;
}

.feature {
    font-size: 1.5rem;
    margin: 10px;
    padding: 20px;
    border-radius: 1rem;
    background: #7ec7f1;
}

.feature:hover {
    cursor: pointer;
}

.navlink {
    text-decoration: none;
    color: black;
}