.jobCard {
    max-width: 600px;
    max-height: 700px;
    padding: 50px;
    font-size: 1.5rem;
    border: 2px solid black;
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.5s ease;
    width: calc(100% - 40px); 
    background: white;
}

.title {
    font-size: 1.5rem;
    justify-content: start;
}

.applyButton {
    padding: 10px;
    border: 0;
    border-radius: 0.5rem;
    background: navy;
    color: white;
    transition: padding 0.3s ease;
}

.applyButton:hover {
    cursor: pointer;
    padding: 15px;
}

.jobCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
}

.description {
    font-size: 1.2rem;
}

.employer {
    font-size: 1.2rem;
}

.location {
    font-size: 1.2rem;
}