.container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 95%;
    background: #096 ;
}

.heading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head {
    margin: 20px;
}