@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'merriweather-bold', sans-serif;
    font-size: 1.5rem;
    border: 0px;
    box-shadow: 0;
    transition: border 0.1s ease box-shadow 0.3s ease;
    margin: 20px;
    padding: 10px;
}

.header1 {
    font-size: 3rem;
}

.header2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
}

.contact_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.professional_summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    max-width: 400px;
}

.experience_education {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    max-width: 500px;
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.review {
    text-align: center;
}

.availability_rates {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.certifications_awards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.but_foot {
    padding: 10px;
    margin: 10px;
    border: 0;
    background: lightblue;
}

.but_foot:hover {
    background: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.link {
    margin: 5px;
    text-decoration: none;
}